

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css"  />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1>Kết quả</h1>
            </div>
            <div class="panel-body">
                <h1>{{ response.error }}</h1>
                <br>
                <p>{{ response.solution }}</p>
                <br>
                <a href="home" class="btn btn-primary">Back</a>
            </div>
            <div class="panel-footer text-right">
            </div>
        </div>
    </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
</div>
</body>
</html>

